CONFIG_NAME=/var/supervisor/supervisord.conf

SUPERVISOR_API_USERNAME=supervisor
SUPERVISOR_API_PASSWORD=supervisor

NUMPROCS_BANKRUPTCY_WORKER=1
NUMPROCS_UNDERWRITING_WORKER=1
NUMPROCS_POTENTIAL_FRAUD_WORKER=1
NUMPROCS_FAIL_REMOVE_INFINITY_WORKER=1
NUMPROCS_TRIGGERS_WORKER=1
NUMPROCS_TO_LARAVEL_WORKER=1
NUMPROCS_NOTIFICATION_WORKER=1
